<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Do your daily work</title>
  </head>
  <body>
   <div class="container pt-5 bg-light">
       <div class="text-center mb-5 p-3" style="border: 1px solid rgb(141, 189, 221);">
        <form method="post" action="/" class="">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Save" class="btn btn-success m-3">
       </form>
       </div>

       <div class="row container justify-content-center">
            {% for task in tasks %}
            <div class="list-group list-group-flush col-10">
                <a href="{% url 'update' task.id %}" class="list-group-item list-group-item-action text-center">{{task.title}}</a>
            </div> 
            <div class="col-2">
                <a href="{% url 'update' task.id %}" class="btn btn-warning btn-sm mt-2" >Update</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm mt-2">Delete</a>           
             </div> 
             {% endfor %}
        </div> 

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>